@media only screen and (min-width: 64em) {
  /********************************************************/
  /********************   Header   ************************/
  /********************************************************/
  #headerContainer {
    display: grid;
    /* template: rows / columns */
    grid-template: 1fr / 2fr 2fr 1fr;
  }

  #headerContainer img {
    width: 120px;
  }

  #headerContainer div:nth-child(1) {
    justify-content: center;
    gap: 0.7rem;
  }

  .nameTitle h1 {
    font-size: 1.7rem;
  }

  .nameTitle p {
    font-size: 1rem;
  }

  #headerContainer .largeNav {
    justify-content: center;
  }

  #headerContainer #linkLogos {
    gap: 0.8rem;
    justify-content: center;
  }

  #linkLogos img {
    max-width: 31px;
  }

  /* removes hamburger button in large view */
  #linkLogos button {
    display: none;
  }

  #headerDate {
    max-width: 900px;
  }

  /********************************************************/
  /****************   NAVIGATION   ************************/
  /********************************************************/
  /* makes li's display next to each other */
  nav ul li a {
    font-size: 0.9rem;
    border: none;
    border-right: 1px solid #ffffff;
    padding: 0.5rem 1rem;
  }

  nav ul li:first-child {
    border-left: 1px solid #ffffff;
  }

  .largeNav ul {
    display: flex;
  }

  .largeNav ul li {
    flex: 1 1 auto;
  }

  #smallNav {
    display: none;
  }

  /********************************************************/
  /*****************   Main GRID   ************************/
  /********************************************************/
  main {
    /* template: rows / columns */
    grid-template: repeat(3, 1fr) / 1fr 2fr 1fr;
  }

  /* start / end - whole num takes only 1 row/col */
  .heroDiv {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .artWeather {
    grid-column: 1;
    grid-row: 2;
  }

  .newsRelease {
    grid-column: 2/3;
    grid-row: 3;
  }

  .hiddenArticle {
    display: block;
  }

  .spotDiv {
    grid-column: 3;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .join {
    display: block;
    grid-column: 1;
    grid-row: 3;
  }

  /********************************************************/
  /*****************   Main Styles   ************************/
  .heroDiv h2 {
    font-size: 2rem;
    top: 10%;
    left: 7%;
  }

  .heroDiv div {
    top: 75%;
  }

  /********************************************************/
  /********************   Footer   ************************/
  /********************************************************/
  .info {
    flex-direction: row;
    justify-content: center;
  }
}
