body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  font-family: "Montserrat", Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  background-image: linear-gradient(#adadad, #ffffff);
  background-repeat: no-repeat; /* Set background-repeat to no-repeat to prevent the gradient from repeating */
  background-size: 100% 100vh; /* Set background-size to cover the entire viewport height without repeating */
}

header,
main,
footer {
  max-width: 680px;
  margin: 0 auto;
}

main {
  letter-spacing: 0.12rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 0 0 0.8rem 0.8rem;
  background-image: linear-gradient(#adadad, #ffffff);
  padding: 1rem;
}

#portrait {
  width: 170px;
  margin: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.8rem;
}

h1 {
  margin-top: 5rem;
  margin-left: 1rem;
  font-weight: bolder;
  font-size: 2.5rem;
}

h2 {
  margin-left: 1.2rem;
  font-size: 1.7rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 1.3rem;
  font-family: "Roboto Mono", monospace, sans-serif;
  font-weight: bold;
}

a {
  color: #000000; /* Set the desired color for links */
  transition: color 0.3s ease; /* Add a transition effect to make the color change smooth */
}

 /* Hover style for links */
 a:hover {
  color: #b700ff; /* Set the desired color for links on hover */
}

hr {
  border: none;
  height: .1rem;
  background-color: #b700ff;
}

footer {
  background-image: linear-gradient(#adadad, #ffffff);
  margin-top: 1.5rem;
  background-color: #000000;
  padding: 1.2rem;
  text-align: center; /* text is centered within the parent element */
  border-radius: 0.8rem 0.8rem 0 0;
}

#updated {
  margin-top: .8rem;
  color: #b700ff;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  body {
    background-size: cover; /* Set background-size to cover to ensure the gradient covers the entire body even on smaller viewports */
  }
}