@media only screen and (min-width: 32.5em) {
  /* removes the ham button on medium view */
  #navOne li:first-child {
    display: none;
  }

  /* tells child elements to display side by side */
  #navOne {
    flex-direction: row;
}

/* displays menu on medium view when the small menu is toggled off */
#navOne li {
    display: block;
    flex: 1 1 auto;
}

  /* separates the li's with lines */
  #navOne a {
    border: none; /* removes top border in medium view */
  }
}
